@import 'variables';
@import 'utility';

header {
	padding: 0.75em 0;
	width: 100%;
	background: $steel;
	color: darken($steel, 75%);
	position: fixed;
	top: 0;
	z-index: 15;
	a, a:visited {
		// color: $gray-light;		
		// color: darken($steel, 50%);
		color: $black;
	}	
	a:hover {
		color: ligthen($black, 25%);
	}
	li {
		@include li-inline;
		margin-right: 1em;
	}
	li:last-child {
		margin-right: 0;
	}
}