// $steel: #6F7C7C;
// $steel: #BFC7BF;
// $steel: #E1E4DA;
$steel: #A6ABA8;
$gray-light: #f8f8f8;
$gray: darken($gray-light, 25%);
// $black: #333;
$black: #162430;
$dark: lighten($black, 15%);
$blue: #0089BC;