---
layout: default
title: Nick Lau FTW
---

<div class="main-content">

	<a name="home" id="home"></a>
	<section class="intro">
		<a href="#intro"></a>
		<div class="container">
			<div class="row">
				<div class="three columns offset-by-one profile-pic">
					<img src="img/me.png" alt="Picture of me" class="intro-img circle-img" />
				</div>

				<div class="eight columns profile-blurb" >
					<p>
							I'm Nick Lau, a Chicago 
							<br />
							designer &amp; developer.
					</p>
				</div>
			</div>
		</div>
	</section>

	<a name="posts" id="posts"></a>
	<div class="container">
		<a name="posts"></a>
		<section class="posts">
			<div class="row">
			  	<h1 class="eight columns offset-by-four">Posts/Recent Thoughts</h1>
			</div>

			<ul class="posts-lists">
				{% for post in site.posts %}
					<li class="row">
						<div class="four columns post-date">
							{{ post.date | date_to_string }}					     		    
						</div>

						<div class="eight columns post-title">
							<a href="{{ post.url }}">{{ post.title }}</a>
						</div>
				  	</li>
			  	{% endfor %}
		  	</ul>
		</section>

		<a name="work" id="work"></a>
		<section class="projects">
			<a name="projects"></a>
			<div class="row">
			  	<h1 class="eight columns offset-by-four">Work/Selected Projects</h1>
			</div>

			{% include projects/1140.html %}

			{% include projects/denton.html %}

			{% include projects/ls.html %}

		</section>

		<a name="contact" id="contact"></a>
		{% include contact.html %}
	</div>

</div> 
<!-- end container -->