<section class="row contact">
	<a href="#contact"></a>
	<div class="eight columns offset-by-four">
		<h1>Contact/Holla At Me</h1>
		<ul class="contact-list">
			<li><i class="foundicon-chat"></i><a href="mailto:nicklauftw@gmail.com">nicklauftw@gmail.com</a></li>
			<li><i class="foundicon-twitter"></i><a href="http://twitter.com/nicklauftw" target="_blank">twitter.com/nicklauftw</a></li>
			<li><i class="foundicon-github"></i><a href="http://github.com/nicklauftw" target="_blank">github.com/nicklauftw</a></li>
			<li><i class="foundicon-instagram"></i><a href="http://instagram.com/nicklauftw" target="_blank">instagram.com/nicklauftw</a></li>
		</ul>	
	</div>
</section>