@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nicklau\/Sites\/nicklauftw_v4\/sass\/utility\.scss}line{font-family:\000035}}
.circle-img {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nicklau\/Sites\/nicklauftw_v4\/sass\/nav\.scss}line{font-family:\000034}}
header {
  padding: 0.75em 0;
  width: 100%;
  background: #bfc7bf;
  color: #f8f8f8;
  position: fixed;
  top: 0;
  z-index: 15;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nicklau\/Sites\/nicklauftw_v4\/sass\/nav\.scss}line{font-family:\0000312}}
header a {
  color: #f8f8f8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nicklau\/Sites\/nicklauftw_v4\/sass\/nav\.scss}line{font-family:\0000315}}
header li {
  display: inline;
  margin-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nicklau\/Sites\/nicklauftw_v4\/sass\/nav\.scss}line{font-family:\0000319}}
header li:last-child {
  margin-right: 0;
}
